<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="thumbnail row">
                <div class="col-md-12 text-center">
                    <h4><a><%=name%></a></h4>
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive thumbnail" src="<%= image %>">
                </div>
                
                <div class="caption-full col-sm-6">
                    
                    <p><%= description %></p>
                    <p>Added by <%=addedBy.username %></p>
                    <p>On <%= date %></p>
                    <% if(user && addedBy.id.equals(user._id)) { %>
                    <a href="/resources/<%= id %>/edit" class="btn btn-default">Edit</a>
                    <form class="delete-form" action="/resources/<%= id %>/?_method=DELETE" method="POST">
                    <input class="btn btn-danger" type="submit" name="" value="Delete">    
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                    <div class="text-right">
                    <a class="btn btn-success" href="/resources/<%= id %>/comments/new">Add New Comment</a>
                </div>          
                <hr>
                <% comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %> 
                            </p>
                        <% if(user && comment.author.id.equals(user._id)) { %>
                            <a href="/resources/<%=id %>/comments/<%= comment._id%>/edit" class="btn btn-xs btn-default">Edit</a>
                            <form class="delete-form" action="/resources/<%= id %>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                    <input class="btn btn-xs btn-danger" type="submit" name="" value="Delete">    
                    </form>
                    <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>


<% include partials/footer %>